<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followers.count %></td>
        <td>フォロワー数：<%= user.followeds.count %></td>
        <%if user.id != current_user.id %>
          <% if current_user.following?(user) %>
            <td><%= link_to 'フォローを外す', user_unfollow_path(user), method: :post %></td>
          <% else %>
            <td><%= link_to 'フォローする', user_follow_path(user), method: :post %></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
